body{
	min-height: 100vh;
	background:$mainColor no-repeat 100% 100%;
	font-family: 'Open Sans', Helvetica, sans-serif;
}

.clearfix::after{
	display: table;
	content: "";
	width: 100%;
	clear: both;
}
