.form-control{
	margin: 1em;
	color:#F1F1F1;
	label{
		float: left;
		padding: 6px 0;
	    font-size: 12px;
	    font-weight: 400;
	}
	input,select,textarea{
		float: right;
		height: 1.6em;
		width: 60%;
		outline: none;
	    background: hsla(171, 40%, 52%, 0.5);
	    border: 1px solid #20202100;
	    border-bottom: 3px solid #55b6a7;
	    font-size: 1em;
	    padding-left: 1em;
	    color: #000;
	    font-weight: 400;
	}
	textarea  {
		min-height:100px ;
	}
	select  {
		width: 65%;;
	}
}

input[type="submit"] {
	    width: 380px;
	    box-sizing: border-box;
	    padding: 0.6em;
	    background: #55b6a7;
	    border-width: 0;
	    margin: 0 10px;
	    color: #FFF;
	    /*font-size: 1.2em;*/
	    text-transform: uppercase;
	    font-weight: 400;
	    cursor: pointer;
	}