.login{
	
	&__title
	{ 
		text-transform: uppercase;
		color:#F1F1F1;
		width:100%;
		text-align:center;
		border-bottom: 5px solid $colorSecond;
		padding:1rem;
		box-sizing: border-box;
		margin-bottom: 0;

	}

}

.login-no-provider{
	background: rgb(2, 90, 82);
	padding-bottom: 10px;

}