.login{
	
	&__title
	{ 
		text-transform: uppercase;
		color:#F1F1F1;
		width:100%;
		text-align:center;
		border-bottom: 5px solid $colorSecond;
		padding:1rem;
		box-sizing: border-box;
		margin-bottom: 0;

	}

}

.login-no-provider{
	background: rgb(2, 90, 82);
	padding-bottom: 10px;

}
.login-with-provid {

    background: #025a52;
    text-align: center;
    padding: 10px 0;

    &__title {
	    margin-bottom: 15px;
		font-size: 12px;
		text-transform: uppercase;
		color: #f1f1f1;;
		margin-top: 10px;
		border-bottom: 1px solid #01776c;
	}
	#signinButton{
		margin-top: 20px;
	}
}

