@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);


/*@import "base/_mixins";*/


body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background:linear-gradient(to top right, #8BC34A, #009688) no-repeat 100% 100%;
	font-family: 'Open Sans', Helvetica, sans-serif;
}


.clearfix::after{
	display: table;
	content: "";
	width: 100%;
	clear: both;
}


.float-left{
	float: left;
}


.title_top{
	color: #d4faf9;
    background: #009688;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    /* padding: 0; */
    border-radius: 0 0 10px 10px;
}


.title_detail {
    font-size: 20px;
}


.description{
    text-indent: 20px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: #000;
    line-height: 30px;
}


p:first-letter {
    font-size: 28px;
    font-weight: bold;
}


header{
	margin: 0;
	background: rgb(2, 90, 82);
}


.header{
	max-width: 700px;
	margin: 0 auto;
}


.header h1{
	margin: 0;
	color: #009688;
}


.header span{
	color: #009688;
}


.header .link-home{
	text-decoration: none;
}


.form-control{
	margin: 1em;
	color:#F1F1F1;
}


.form-control label{
	float: left;
	padding: 6px 0;
	font-size: 12px;
	font-weight: 400;
}


.form-control input,.form-control select,.form-control textarea{
	float: right;
	height: 1.6em;
	width: 60%;
	outline: none;
	background: hsla(171, 40%, 52%, 0.5);
	border: 1px solid #20202100;
	border-bottom: 3px solid #55b6a7;
	font-size: 1em;
	padding-left: 1em;
	color: #000;
	font-weight: 400;
}


.form-control textarea  {
	min-height:100px ;
}


.form-control select  {
	width: 65%;
}


input[type="submit"] {
	    width: 380px;
	    box-sizing: border-box;
	    padding: 0.6em;
	    background: #55b6a7;
	    border-width: 0;
	    margin: 0 10px;
	    color: #FFF;
	    /*font-size: 1.2em;*/
	    text-transform: uppercase;
	    font-weight: 400;
	    cursor: pointer;
	}


.btn-delete {
    width: 80px !important;
    background: #bc021d !important;
 }


.flex{
	display: -ms-flexbox;
	display: flex;
	
}


.flex--sb{
	-ms-flex-pack: justify;
	    justify-content: space-between;
	-ms-flex-align: center;
	    align-items: center;
}


.card{
	min-width:400px;
	/*background: #222;*/
	padding:1rem;
	padding-top:0;
	border-radius: 5px;
	box-shadow: 4px 4px 16px rgba(0,0,0,.7);
}


.card--centered 
	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.tabs-content{
	margin-top: 1rem;
}


.tab-list ul{
	list-style-type: none;
	width: 100%;
	-webkit-padding-start: 0;
	        padding-inline-start: 0;
	margin: 0;
}


.tab-list ul li{
	float: left;
	width: 50%;
}


.tab-list ul li a{
	display: block;
	padding: .7rem 0;
	background: #009688;
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	color:#fff;
	transition: all .5s ease;
}


.tab-list ul li a:hover,.tab-list ul li a.active{
	background:hsla(174,100%,29%,0.5);
}


.btn{
	text-decoration: none;
	box-sizing: border-box;
    padding: 0.6em;
    background: #55b6a7;
    border-width: 0;
    margin: 0 10px;
    color: #FFF;
    /*font-size: 1.2em;*/
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
}


.btn-cancel {
	float: right;
	border-radius: 5px;
	background: #025a52;
}


.btn--add_item {
	position: absolute;
	right: 0;
	top: 35px;
	height: 26px;
	padding: 0px 10px;
	border-radius: 5px;
	text-transform: none;
	background: #025a52;
	transition: all 0.5s ;
}


.btn--add_item:hover{
	background: #009688;
}


.actions {
    margin-top: 5px;
}


.actions .action {
	text-decoration: none;
	color: #FFF;
	padding: 5px;
	margin-top: 7px;
	font-size: 12px;
	border-radius: 5px;
}


.actions .action--update{
	background: #025a52;
}


.actions .action--delete{
	background: #bc021d;
}


.alert{
	padding: 20px 10px;
	background: #eee;
	margin: 5px 0;
	border-radius: 5px;
}


.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}


.alert-success {
    color: #155724;
    background-color: #94f57c;
    border-color: #94f57c;
}


.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


.login__title
	{
	text-transform: uppercase;
	color:#F1F1F1;
	width:100%;
	text-align:center;
	border-bottom: 5px solid #009688;
	padding:1rem;
	box-sizing: border-box;
	margin-bottom: 0;
}


.login-no-provider{
	background: rgb(2, 90, 82);
	padding-bottom: 10px;

}


.login-with-provid {

    background: #025a52;
    text-align: center;
    padding: 10px 0;
}


.login-with-provid__title {
	margin-bottom: 15px;
	font-size: 12px;
	text-transform: uppercase;
	color: #f1f1f1;
	margin-top: 10px;
	border-bottom: 1px solid #01776c;
}


.login-with-provid #signinButton{
	margin-top: 20px;
}


.item {
    background: #21a179b3;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s;
}


.item:hover {
	background: #eee;
}


.item .c_name {
	color: #222;
	font-weight: 600;
	font-size: 11px;
}


.item a {
	color: #025a52;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
}


main{
	width: 700px;
	margin: 50px auto;
	background: #FFF;
}


.sidear{
	width: 30%;
    background: #009688;
    margin: 10px;
    overflow: auto;
}


.sidear h2{
	text-align: center;
	color: #009688;
	border-bottom: 5px solid hsla(174,100%,29%,0.5);
	text-transform: uppercase;
	font-weight: 400;
	padding: 14px;
	margin: 0;
	background: #222;
}


.sidear ul{
	list-style-type: none;
	width: 100%;
	-webkit-padding-start: 0;
	        padding-inline-start: 0;
	margin: 0;
	margin: 0;
	height: calc(100% - 68px);
	background: #009688;
}


.sidear ul li a{
	display: block;
	padding: .7rem 0;
	background: #009688;
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	color:#fff;
	transition: all .5s ease;
}


.sidear ul li a:hover,.sidear ul li a.active{
	background: hsla(0, 0%, 13%, 0.45);
}


.content{
	width: 60%;
	padding: 10px;
	position: relative;

}


/*
@import "modules/_cards";
@import "modules/_forms";
@import "modules/_login";*/
