<!DOCTYPE html>
<html>
<head>
	<title>Home page </title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<header>
	<div class="header flex flex--sb">
		<div class="leftContent">
			<a href="/" class="link-home"><h1>Catalog App</h1></a>
		</div>
		<div class="rightContent">
			{% if 'username' in session %}
			  <span>{{ session.get('name') }}</span>
			  <a class="btn" href="{{ url_for('logout') }}">logout</a>
			{% else %}
			  <a class="btn" href="{{ url_for('login') }}">login</a>
			{% endif %}
		</div>
	</div>
</header>

<main>
		<div class="card card--centered">
			<h2 class="title_detail">{{item.title}}</h2>
			<div><strong>Category: </strong> <span>{{item.category.name}}</span></div>
			<div class="description">
				{{item.description}}
			</div>
			{%if session.get('user_id') == item.user.id %}
			<div class="actions">
				<a href="{{url_for('itemUpdate', id= item.id)}}">Update</a>
				<a href="{{url_for('itemDelete', id= item.id)}}">Delete</a>
			</div>
			{% endif %}
		</div>
	
</main>


<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>