<!DOCTYPE html>
<html>
<head>
	<title>Home page </title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

<header>
	<div class="header flex flex--sb">
		<div class="leftContent">
			<h1>Catalog App</h1>
		</div>
		<div class="rightContent">
			{% if 'username' in session %}
			  <span>{{ session.get('name') }}</span>
			  <a class="btn" href="{{ url_for('logout') }}">logout</a>
			{% else %}
			  <a class="btn" href="{{ url_for('login') }}">login</a>
			{% endif %}
		</div>
	</div>
</header>

<main>
	<div class="flex">
		<div class="sidear">
			<h2>Categories</h2>
			{% if categories %}
			<ul>
				{% for categorie in categories %}
				<li><a href="#">{{categorie.name }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		<div class="content">
			<h2>Categores</h2>
			<div class="items">
				<div class="item">Project Description Project Description </div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
				<div class="item">Project Description</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</main>


<script type="text/javascript" src="../static/js/app.js""></script>

</body>
</html>