{% extends "layouts/base.html" %}


{% block head %}
    {{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}


{% block title %} Login {% endblock %}

{% block header_rightContent %} {% endblock %}


{% block content %}

	<div class="card card--centered">
		<div class="login">
<!--MESSAGE FLASHING  -->
{% with messages = get_flashed_messages() %}
{% if messages %}
	{% for message in messages %}
	  <div class="alert alert-danger">{{message}}</div>
	{% endfor %}
{% endif %}
{% endwith %}
			<h1 class="login__title">Join us</h1>
			<div class="tabs login-no-provider">
				<div class="tab-list clearfix">
					<ul class="nav-tabs">
						<li><a class="active" href="#tab-signin" data-tab="tab-signin">sign in</a></li>
						<li><a href="#tab-signup" data-tab="tab-signup">sign up</a></li>
					</ul>
				</div>
				<div class="tabs-content">
					<div class="tab-signin" id="tab-signin">
						<form action="" method="post">
							<div class="form-row">
								<div class="form-control clearfix">
									<label for="username">Username </label>
									<input type="text" name="username" id="username">
								</div>
								<span class=" msg-error"></span>
							</div>
							<div class="form-row">
								<div class="form-control clearfix">
									<label for="password">Password </label>
									<input type="password" name="password" id="password">
								</div>
								<span class=" msg-error"></span>
							</div>
							<input type="submit" value="login">
						</form>
					</div>
					<div class="tab-signup" id="tab-signup"  style="display: none;">
						<form action="{{url_for('newUser')}}" method="POST">
							<div class="form-row">
								<div class="form-control clearfix">
									<label for="name_signup">Name </label>
									<input type="text" name="name" id="name_signup">
								</div>
								<span class=" msg-error"></span>
							</div>
							<div class="form-row">
								<div class="form-control clearfix">
									<label for="username_signup">Username </label>
									<input type="text" name="username" id="username_signup">
								</div>
								<span class=" msg-error"></span>
							</div>
							<div class="form-row">
								<div class="form-control clearfix">
									<label for="password_signup">Password </label>
									<input type="password" name="password" id="password_signup">
								</div>
								<span class=" msg-error"></span>
							</div>
							<input type="submit" value="Sign Up">
						</form>
					</div>
				</div>
			</div>
			<div class="login-with-provid">
				<!-- GOOGLE PLUS SIGN IN BUTTON-->

		          
		          <div id="signinButton">
		          <span class="g-signin"
		            data-scope="openid email"
		            data-clientid="37421337102-rbl67rtc16i0o33nb51gvkbv9k922fh7.apps.googleusercontent.com"
		            data-redirecturi="postmessage"
		            data-accesstype="offline"
		            data-cookiepolicy="single_host_origin"
		            data-callback="signInCallback"
		            data-approvalprompt="force">
		          </span>
		        </div>
			</div>
		</div>
		<!--END GOOGLE PLUS SIGN IN BUTTON -->
		<div id="result"></div>
	</div>
{% endblock %}


{% block scripts %}
 {{ super() }}
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
   <script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


<script>
function signInCallback(authResult) {
	console.log('auth Start ',authResult);
  if (authResult['code']) {
  	console.log(authResult['code']);
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '{{url_for("login", provider="google")}}?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
        	if(result == "OK"){
        		window.location.href = "/";
        		//$('#result').html('<div class="alert alert-danger">'+ result + '</div>')
        	}else{
        		$('#result').html('<div class="alert alert-danger">'+ result + '</div>')
        	}
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }
</script>

{% endblock %}